h1{
    font-family: 'Lato', sans-serif; 
    text-align: center;
    font-size: 40px;
    background-color: #7ccae4ce;
}

p{
    font-family: 'Lato', sans-serif;
    float: left;
    margin-right: 10px;
}

img{
    border: 0px;
    height: 50px;
}

.vez{
    margin-top: -20px;
    margin: auto;
    margin-top: 40px;
    width: 250px;
    height: 80px;
}

.container{
    margin: 0 auto;
    max-width: 300px;
    background-color: #cdf2ff;
    border-radius: 4px;
    border: 3px solid black;
}

.espaço{
    width: 80px;
    height: 60px;
    border: 2px solid #cdf2ff;
    border-radius: 5px;
    float: left;
    text-align: center;
    padding-top: 20px;
    background-color: #7ccae4;
}

.tabuleiro{
    margin: auto;
    width: 252px;
    height: 252px;
    cursor: pointer;
}
.botao2{
    font-family: 'Lato', sans-serif;
    border: 0;
    padding: 20px;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    background-color: #7ccae4c9;
}

input, label {
    display: block;
    width: 100%;
}

input:focus, label:focus{
    outline:none;
}


#main-container{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #cdf2ff;
    border-radius: 10px;
    padding: 25px;
    font-family: 'Lato', sans-serif;
}

form{
    display: block;
}

.full-box{
    flex: 1 1 100%;
    position: relative;
}

label{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
}

input{
    width: 200px;
    border: 2px solid #7ccae4;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 16px;
    background-color: #cdf2ff;
    margin-left: 80px;
}

input:focus{
    border-color: black;
}

#botao1{
    font-family: 'Lato', sans-serif;
    border: 0;
    padding: 20px;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    background-color: #7ccae4c9;
}

#botao1:hover{
    background-color: #7ccae4b0;
    cursor: pointer;
}